apiVersion: v2
name: otel-collector-deployment
description: Version-pinned Splunk OpenTelemetry Collector deployment
type: application
version: 0.1.0
dependencies:
  - name: splunk-otel-collector
    alias: collector
    version: @@CHART_VERSION@@
    repository: "https://signalfx.github.io/splunk-otel-collector-chart"
