apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: @@APP_NAMESPACE@@
resources:
  - deployment.yaml
configMapGenerator:
  - name: checkout-otlp-payloads
    files:
      - traces.json
      - metrics.json
generatorOptions:
  disableNameSuffixHash: true
