# Example only. Do not apply until REPLACE_AT_DEPLOY_TIME is replaced.
apiVersion: v1
kind: Secret
metadata:
  name: @@SECRET_NAME_RAW@@
  namespace: @@NAMESPACE_RAW@@
  annotations:
    observability.splunk.com/example-only: "true"
type: Opaque
stringData:
  splunk_observability_access_token: REPLACE_AT_DEPLOY_TIME
